<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привет, Марс!</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="main_header">Жди нас, Марс!</h1>
    <img src="../static/images/image.png">
    <h1 class="gray">Человечество вырастает из детства.</h1>
    <h1 class="green">Человечеству мала одна планета.</h1>
    <h1 class="gray">Мы сделаем обитаемыми безжизненные пока планеты.</h1>
    <h1 class="yellow">И начнем с Марса!</h1>
    <h1 class="red">Присоединяйся!</h1>
</body>
</html>